*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.idea
.rvmrc
.rspec
.ruby-version
.ruby-gemset
Vagrantfile
.vagrant
TODO
.byebug_history